:root {
	--selected-color: #333;
	--selected-border-width: 2px;
	--selected-border: var(--selected-border-width) solid var(--selected-color);
	--icon-size: 1.5rem;
}

.box {
	user-select: none;
	height: auto;
}

.box.--is-selected {
	border: var(--selected-border);
}

.box__tools {
	display: none;
	position: absolute;
	top: calc(var(--icon-size) * -1 - var(--selected-border-width));
	right: calc(var(--selected-border-width) * -1);
	z-index: 1;
	height: var(--icon-size);
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: white;
}

.box__edit,
.box__remove {
	width: var(--icon-size);
	height: var(--icon-size);
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--selected-border);
}

.box__edit.--is-editing svg,
.box__remove:hover svg,
.box__edit:hover svg {
	fill: white;
}

.box__edit.--is-editing,
.box__remove:hover,
.box__edit:hover {
	background-color: var(--selected-color);
}

.box.--is-selected .box__tools {
	display: flex;
}

.box__text {
	width: 100%;
	height: 100%;
	padding: 1rem;
	box-sizing: border-box;
}

.box__text:focus-visible {
	outline: none;
}
